* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Logo */
h1 {
    display: inline-block;
    font-size: 48px;
}

h1 .seo {
    color: #d9dcd6;
}

/* Main Header */
header {
    padding-top: 15px;
    font-size: 20px;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Navigation Bar */
nav {
    float: right;
    padding-top: 15px;
    padding: 20px;
    background-color: #2a607c;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* Main Image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Combined all 3 formatting into one */
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
}

/* Combined all 3 image format into one */
.benefit-lead img, .benefit-brand img, .benefit-cost img{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Search engine optimization format */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Search engine optimization Image format */
.search-engine-optimization div img {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

/* Online reputation management format */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Online reputation management Image format */
.online-reputation-management div img {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Social media marketing Image format */
.social-media-marketing div img{
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

/* Formatting for Article sections */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Website Footer and Copyright */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h4 {
    font-size: 20px;
}
